/* 
Colors for Almi
Dark purple: #870AA0
Light purple: #CD9BD7
Himmelsblå: #AAE6FF
*/

body{
    font-family: 'Sofia Pro', sans-serif;
}

header{
    background-color: #870AA0;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}

.hero-img{
    background-image: url(assets/image/Hero-img.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    position: relative;
}

/* .hero-text {
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: white;
  } */

.bg-color-offers{
    background-color: #CD9BD7;
}

.bg-color-offer{
    background-color: white;
}

.btn{
    background-color: #CD9BD7;
}

.graphic-offer{
    width: 100%;
} 

.bg-almi-facts{
    background-color: #AAE6FF;
}

.footer-menu{
    background-color: #870AA0;
}

li{
    list-style: none;
}

footer i{
    background-color: black;
    font-size: 1.4rem;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 10px;
    color: white;
}